@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Labs for <a href="https://learn.bcit.ca/d2l/home/981174">COMP4602!</a>.</p>
</div>
